# Disable USB autosuspend for Xbox Wireless Adapter (V2: 02fe, V1: 02e6)
ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="045e", ATTRS{idProduct}=="02fe", TEST=="power/control", ATTR{power/control}="on"
ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="045e", ATTRS{idProduct}=="02e6", TEST=="power/control", ATTR{power/control}="on"